/IF2000_Introduction progra/nbproject/private/
/IF2000_Introduction progra/build/
/IF2000_Introduction progra/dist/
/Lab3/nbproject/private/
/Lab3/build/
/Lab3/dist/
/GUIvideosSwing/nbproject/private/
/GUIvideosSwing/build/
/GUIvideosSwing/dist/
/LabDamas/nbproject/private/
/LabDamas/build/
/LabDamas/dist/
